[submodule "third_party/CHOMPI"]
	path = third_party/CHOMPI
	url = https://github.com/CHOMPI-Club/CHOMPI.git
[submodule "third_party/daisycola"]
	path = third_party/daisycola
	url = https://github.com/pablo-penovi/daisycola.git
[submodule "third_party/DPF"]
	path = third_party/DPF
	url = https://github.com/DISTRHO/DPF.git
